
$font-family-sans-serif: Gotham Pro;
$gray-800: #1E1E1E;
$primary: $gray-800;
$enable-rounded: false;
$yellow: #B8994F;
$gray-100: #F4F7F6;
$enable-responsive-font-sizes: true;
$body-bg: $light;
$body-color: $black;
$gray-300: #D9D9D9;
$font-family-monospace: Courier New;
$display1-size: 7.875rem;
$font-family-base: $font-family-monospace;
$headings-font-family: $font-family-sans-serif;
$h1-font-size: $font-size-base * 2.25;
$font-size-lg: $font-size-base * 1.5;